[submodule "hardware-wallet"]
	path = hardware-wallet
	url = https://github.com/lnbits/hardware-wallet
[submodule "lnpos"]
	path = lnpos
	url = https://github.com/lnbits/lnpos
[submodule "bitcoinswitch"]
	path = bitcoinswitch
	url = https://github.com/lnbits/bitcoinswitch
[submodule "nostr-signing-device"]
	path = nostr-signing-device
	url = https://github.com/lnbits/nostr-signing-device
[submodule "NerdMiner_v2"]
	path = NerdMiner_v2
	url = https://github.com/lnbits/NerdMiner_v2
[submodule "nostr-market-app"]
	path = nostr-market-app
	url = https://github.com/lnbits/nostr-market-app.git
[submodule "lnbits-extensions"]
	path = lnbits-extensions
	url = https://github.com/lnbits/lnbits-extensions.git
